<div class="container">
    <div class="mt-4">
        <div class="btn btn-ligth border border-dark rounded center">
            <form class="form-inline focus-disable">
                <img src="../assets/img/Search.svg " width="30 " height="30 " class="d-inline-block align-top ml-3 mr-3" loading="lazy ">
                <input class="form-control" style="width: 500px;">
                <img src="../assets/img/Options.svg " width="30 " height="30 " class="d-inline-block align-top mr-3 ml-3 " alt=" " loading="lazy ">
            </form>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col">
            <div class="float-right mr-3">
                <input class="" type="checkbox"><a href="#"> Seleccionar todo</a>
            </div>
        </div>
    </div>

    <div class="container mt-2">
        <div class="row">

            <div class="col-3 text-center">
                <div class="btn-group-vertical">
                    <hr width="200px">
                    <img src="../assets/img/ModifivadorStockOff.svg" width="70" height="70" class="center mt-4">
                    <h2 class="center text-primary">Modificador stock</h2>
                    <img src="../assets/img/PlayOff.svg" width="70" height="70" class="center mt-4">
                    <h2 class="center text-primary">Activar</h2>
                    <img src="../assets/img/PauseOff.svg" width="70" height="70" class="center mt-4">
                    <h2 class="center text-primary">Pausar</h2>
                    <img src="../assets/img/Remove.svg" width="70" height="70" class="center mt-4">
                    <h2 class="center text-primary ">Eliminar</h2>
                </div>
            </div>

            <div class="col-9">
                <hr width="750px mt-3">
                <div class="row">
                    <div class="card m-2" style="width: 16rem;">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>
                    <div class="card m-2" style="width: 16rem;">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>
                    <div class="card m-2" style="width: 16rem;">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<router-outlet></router-outlet>