body {
    background-image: url(./assets/img/background.png);
}

.form-control {
    border: 1px solid white;
    outline: none;
}

.center {
    position: relative;
    left: 50%;
    transform: translatex(-50%);
}